.wrapper h1{
    text-align: center;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
}

.gallery img {
    height: 300px;
    width: 300px;
}

.galleryItem {
    margin: 1rem;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}